:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.bold {
  font-weight: bold;
}

.runtime-stopped {
  background-color: rgb(29, 93, 43);
}
.runtime-running {
  background-color: rgb(135, 42, 42);
}
#runtime-btn {
  width: 100px;
  padding: 0.2rem;
}
#runtime-ctrl {
  display: flex;
  flex-direction: column;
  align-items: end;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 90vw;
}


/** workflow list stuff **/
#workflow-folder {
  display: flex;
  align-items: center;
}
.workflow-folder-path {
  font-size: 0.9rem;
}
.workflow-folder-path button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  margin-right: 0.7rem;
  padding: 0.3rem 0.6rem;
  background-color: rgb(82, 65, 9);
}
#workflow-list {
  list-style-type: none;
  padding-left:0;
}

#workflow-list li {
  display: flex;
  list-style-type: none;
  padding-left:0;
  margin-top: 2rem;
}

#workflow-list li button {

  list-style-type: none;
  width: 5rem;
  background-color: rgb(27, 123, 161);
}

.workflow-filename {

  font-size: 0.90rem;
}
.workflow-details {
  margin-left: 1.0rem;
}
.workflow-details p {
  margin:0;
}
.workflow-name {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight:bold;
}