.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}

.mt-5 {
  margin-top: 1rem;
}

/** colors **/
.bg-cyan-800 {
  background-color: rgb(1, 69, 69);
}
.bg-sky-800 {
  background-color: rgb(0, 75, 104);
}
.bg-blue-800 {
  background-color: rgb(40, 72, 168);
}
.bg-indigo-800 {
  background-color: rgb(95, 2, 161);
}
.bg-violet-800 {
  background-color: rgb(113, 22, 113);
}
.bg-purple-800 {
  background-color: rgb(121, 10, 116);
}
.bg-fuchsia-800 {
  background-color: rgb(84, 0, 84);
}
.bg-stone-700 {
  background-color: rgb(63, 83, 98);
}
.bg-gray-700 {
  background-color: rgb(52, 63, 71);
}

.text-pink-200 {
  color: pink;
}
.text-orange-300 {
  color: rgb(255, 216, 144);
}
.text-blue-200 {
  color: rgb(177, 228, 255);
}
.text-cyan-200 {
  color: rgb(192, 238, 232);
}

.ring-cyan-400 {
  --inset-color: rgb(1, 156, 156);
}
.ring-sky-400 {
  --inset-color: rgb(0, 118, 164);
}
.ring-blue-400 {
  --inset-color: rgb(97, 97, 243);
}
.ring-indigo-400 {
  --inset-color: rgb(172, 61, 251);
}
.ring-violet-400 {
  --inset-color: rgb(212, 62, 212);
}
.ring-purple-400 {
  --inset-color: rgb(193, 58, 132);
}
.ring-fuchsia-400 {
  --inset-color: rgb(165, 0, 165);
}
.ring-stone-400 {
  --inset-color: rgb(99, 130, 155);
}

.rounded-md {
  border-radius: 1rem;
}
.obs-event-bar {
  box-shadow: inset 0 0 0 0rem var(--inset-color);
  width: 300px;
  padding-left: 1rem;
  font-size: 0.92rem;
  margin-bottom: 0.2rem;
}
.obs-event-bar:hover {
  box-shadow: inset 0 0 0 0.1rem var(--inset-color);
}
.cursor-pointer {
  cursor: pointer;
}
.event-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.event-expanded {
  background-color: auto;
  font-family: monospace;
  font-size: 0.88rem;
  margin-top: 0.5rem;
}
.event-expanded p {
  margin: 0rem 0rem;
  padding: 0;
}
.system-log {
  font-family: monospace;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  padding-left: 1rem;
}
